<!DOCTYPE html>
<html lang="en">
    <meta name="description" content="Description of your website or page">
    <meta name="keywords" content="comma-separated list of keywords">
<head>
        <title>Careers-Website-SRM</title>
        <link rel="shortcut icon"
              href="{{ url_for('static', filename='icons8-python-16.png') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <div id="container">
            <h1>Careers-Website-SRM</h1>
            <img id="banner"src ="/static/banner.jpg" alt="banner Image">
            <h2>About Us</h2>
            <p class="bodytext">
                At our career platform, we are passionate about connecting talent with opportunities. We believe in empowering individuals to shape their professional journeys and helping organizations find the perfect fit for their teams.Our team is dedicated to creating a seamless experience for job seekers and employers alike. With a commitment to innovation and inclusivity, we aim to be the bridge that brings together talent and aspirations in the world of work.
            </p>
            <h2>Open Positions</h2>
            <p class="bodytext">TODO  show the jobs here</p>
            <div class="button">
                <button>Contact Us</button>
            </div>
            <p>Copyright 2023, Kishan</p>
        </div>
    </body>
</html>
